body {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
  font-family: sans-serif;
}
h2:not(.lead) {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  position: relative;
}

h2:not(.lead)::after {
  content: "";
  position: absolute;
  border: 0;
  border-bottom: 6px;
  border-top: 12px;
  border-style: dotted;
  border-radius: 50%;
  bottom: 4px;
  width: 100%;
  left: 0;
  color: hsla(50, 100%, 65%, 0.1);
}
.about-me p {
  margin: 0;
  margin-top: -8px;
}

.pfp {
  float: left;
  border-radius: 50%;
  width: 100px !important;
  height: 100px;
  margin-inline: 8px;
}

.hero {
  color: white;
  padding-block: 100px;
  z-index: 30;
  display: grid;
  place-content: center;
  position: relative;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

:root {
  --width: 320px;
  --width-1-2: calc(var(--width) / 2);
  --width-1-4: calc(var(--width) / 4);
  --width-1-8: calc(var(--width) / 8);
}

.circle::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  outline: hsla(50, 100%, 65%, 0) solid 2px;
  box-shadow: 7px 0px 15px hsla(50, 100%, 65%, 0);
  transition: all;
  outline: hsla(50, 100%, 65%, 0.2) solid 1px;
  box-shadow:
    7px 0px 23px hsla(50, 100%, 65%, 0.33),
    2px 0px 3px rgba(255, 255, 255, 0.307);
  animation: 1618ms glow-ring 1018ms 1 ease-in-out forwards;
}

.circle {
  z-index: 40;
  position: absolute;
  border-radius: 999px;
  background: radial-gradient(
    circle at 90% 20%,
    rgba(0, 0, 0, 0),
    hsla(50, 100%, 65%, 0.2)
  );
}

.circle.circle-first {
  width: var(--width);
  height: var(--width);
  top: 20px;
  left: 20px;
  transition: all;
  animation: scale-in 1618ms cubic-bezier(0, 0.71, 0, 0.98);
}

.circle.circle-first > .circle.circle-second {
  width: var(--width-1-2);
  height: var(--width-1-2);
  left: var(--width-1-2);
  top: var(--width-1-4);
  animation: enter-1 1618ms cubic-bezier(0, 0.71, 0, 0.98);
}
.circle-final {
  width: var(--width-1-4);
  height: var(--width-1-4);
  left: var(--width-1-4);
  top: var(--width-1-8);
  transition: all;
  animation: enter-2 1618ms cubic-bezier(0, 0.71, 0, 0.98);
}

.reveal {
  animation: reveal 250ms ease-in;
}

.reveal-hero {
    animation: reveal 1618ms cubic-bezier(1, 0, 0.83, 0.67);
  }

.projects img {
  border-radius: 4px;
  margin-top: 12px;
}

.lead {
user-select: none;
  font-family: monospace;
  letter-spacing: -2px;
  line-height: 0.85em;
  margin: 0;
  color: lightgrey;
  text-align: center;
  text-shadow: 0px 0px 4px black;
}
