---
import BaseHead from "@components/Layout/BaseHead.astro";
import Header from "@components/Layout/Header.astro";
import Footer from "@components/Layout/Footer.astro";

const isHomePage = Astro.url.pathname === "/";
const { SITE_TITLE, SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      #dark-mode-toggle {
        top: 1em;
        right: 1em;
        position: absolute;
        z-index: 20;
      }
    </style>
  </head>
  <!-- <button id="dark-mode-toggle">Toggle theme</button>
  <script>

    window.addEventListener("load", (e) => {
      const btn = document.querySelector(
        "#dark-mode-toggle"
      ) as HTMLButtonElement;
      btn.addEventListener("click", () => {
        document.body.classList.toggle("latex-dark");
      });
    });
  </script> -->
  <body
    class="libertinus latex-dark-auto"
    class:list={[{ "latex-dark": isHomePage }]}
  >
    <!-- <Header title={SITE_TITLE} /> -->
    <slot />
    <Footer />
  </body>
</html>
