---
import { SITE_TITLE } from "../../consts";
import { fade } from "astro:transitions";
const page = Astro.url.pathname;
---

<header>
  <nav>
    <ul>
      <li aria-current={page === "/" ? "page" : undefined}>
        <a href="/">Home</a>
      </li>
      <li aria-current={page.startsWith("/blog") ? "page" : undefined}>
        <a href="/blog">Blog</a>
      </li>
      <li aria-current={page === "/about" ? "page" : undefined}>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
<style lang="scss">
  ul {
    display: flex;
    height: 2em;
  }

  li {
    position: relative;
    height: 100%;
  }

  li[aria-current="page"]::before {
    --size: 7px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: calc(50% - var(--size));
    border: var(--size) solid transparent;
    border-top: var(--size) solid var(--kbd-border-color);
  }

  a[aria-current="page"] {
    text-decoration: underline;
  }
  a {
    color: var(--link-focus-outline);
  }
  .latex-dark a {
    color: red !important;
  }

  nav a {
    padding: 0 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear;
  }

  nav li:before {
    content: " ";
    counter-increment: 0;
    padding-right: 0;
  }

  a:hover {
    color: var(--link-focus-outline);
  }
</style>
