---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import BaseLayout from "@components/Layout/BaseLayout.astro";
---

<style>
  body {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 60;
    text-shadow:
      var(--black) 2px 2px 0px,
      var(--black) 4px 4px 0px;
    color: var(--white);
  }
  .hero {
    z-index: 30;
    display: grid;
    place-content: center;
    position: relative;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .circle {
    z-index: 40;
    position: absolute;
    border-radius: 999px;
    background: radial-gradient(
      circle at 90% 50%,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    );
  }

  :root {
    --width: 320px;
    --width-1-2: calc(var(--width) / 2);
    --width-1-4: calc(var(--width) / 4);
    --width-1-8: calc(var(--width) / 8);
  }
  .circle-first {
    width: var(--width);
    height: var(--width);
    left: var(--width-1-2);
    top: calc(var(--width-1-8) * -1);
  }
  .circle-second {
    width: var(--width-1-2);
    height: var(--width-1-2);
    left: var(--width-1-2);
    top: var(--width-1-4);
  }
  .circle-final {
    width: var(--width-1-4);
    height: var(--width-1-4);
    left: var(--width-1-4);
    top: var(--width-1-8);
  }

  .main {
  }
</style>

<BaseLayout {SITE_TITLE} {SITE_DESCRIPTION}>
  <main>
    <section class="hero">
      <div style="z-index: 60;">
        <h1>Vitor Ayres</h1>
        <h2 style="text-align:center;">
          I Improve, fix &<br />document code.
        </h2>
      </div>
      <div class="circle circle-first">
        <div class="circle circle-second">
          <div class="circle circle-final"></div>
        </div>
      </div>
    </section>

    <!-- <div class="">x</div>
      <section class="">
        TODO: THIS
        <div>
          <h2>About Me</h2>
          <p>
            Lemme ask AI <br /> - Hey, tell about me, omit my secrets
          </p>
          <p class="">typing...</p>
          <p>I'm sorry Dave, I'm afraid I can't do that</p>
        </div>
      </section> -->
  </main>
</BaseLayout>
