---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <style>
      body {
        min-height: 80vh;
      }

      h1 {
        text-align: center;
        line-height: 0.95;
        color: rgb(61, 13, 13);

        text-shadow:
          var(--accent-darker) 2px 2px 0px,
          black 4px 4px 0px;
        color: var(--white);
      }

      .card {
        border-radius: 8px;
        background: linear-gradient(
          135deg,
          var(--accent-darker),
          rgba(255, 0, 0, 0),
          rgba(182, 0, 0, 0)
        );
        padding: 4px;
      }

      .card div {
        max-width: 65ch;
        padding: 32px 48px;
        border-radius: calc(8px - 4px);
        background: linear-gradient(
          45deg,
          var(--accent-darkest),
          rgba(255, 0, 0, 0),
          rgba(255, 0, 0, 0)
        );
        margin: 0;
      }

      .ai-typing {
        color: black;
        user-select: none;
        background-color: var(--accent-lightest);
        width: fit-content;
        border-radius: 4px;
        padding: 4px 12px;
        font-weight: 900;
      }
      .hero {
        display: grid;
        place-items: center;
        position: relative;
        height: 30vh;
      }
      .test {
        background: radial-gradient(
          circle,
          rgb(255, 0, 0) 0%,
          rgba(255, 255, 255, 0) 12%
        );
      }
      .center {
        margin-left: auto;
        margin-right: auto;
      }
      .circle {
        z-index: -1;
        position: absolute;
        border-radius: 999px;
        filter: contrast(127%) brightness(127%);
        background: radial-gradient(
            circle at 90% 50%,
            rgba(255, 255, 255, 0),
            black
          ),
          url("data:image/svg+xml,%3Csvg viewBox='0 0 151 151' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.67' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
      }
      .circle-first {
        width: 320px;
        height: 320px;
        left: 160px;
        top: 80px;
      }

      .circle-second {
        width: 160px;
        height: 160px;
        left: 160px;
        top: 80px;
      }
      .circle-final {
        width: 80px;
        height: 80px;
        left: 80px;
        top: 40px;
      }

      @keyframes bgg {
      }
    </style>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <section class="hero" style="">
        <h1>
          I improve, fix &<br />document code.
        </h1>
        <div class="circle circle-first">
          <div class="circle circle-second">
            <div class="circle circle-final"></div>
          </div>
        </div>
      </section>

      <div class="hero">x</div>
      <section class="card">
        TODO: THIS
        <div>
          <h2>About Me</h2>
          <p>
            Lemme ask AI <br /> - Hey, tell about me, omit my secrets
          </p>
          <p class="ai-typing">typing...</p>
          <p>I'm sorry Dave, I'm afraid I can't do that</p>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
