---
import { SITE_TITLE } from "../consts";
import { fade } from "astro:transitions";
const page = Astro.url.pathname;
---

<header transition:persist>
  <nav>
    <ul>
      <li aria-current={page === "/" ? "page" : undefined}>
        <a href="/">Home</a>
      </li>
      <li aria-current={page.startsWith("/blog") ? "page" : undefined}>
        <a href="/blog">Blog</a>
      </li>
      <li aria-current={page === "/about" ? "page" : undefined}>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
  <button id="dark-mode-toggle">Toggle dark mode</button>
  <script>
    window.addEventListener("load", (event) => {
      const btn = document.querySelector(
        "#dark-mode-toggle"
      ) as HTMLButtonElement;

      btn.addEventListener("click", () => {
        document.body.classList.toggle("latex-dark");
      });
    });
  </script>
</header>

<style>
  #dark-mode-toggle {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 20;
  }
  header {
    z-index: 0;
    position: absolute;
    margin-left: -6rem;
  }
  ul {
    height: 2em;
  }

  nav li:before {
    content: " ";
    counter-increment: 0;
    padding-right: 0;
  }

  li {
    position: relative;
    height: 100%;
  }

  li[aria-current="page"]::before {
    --size: 8px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: calc(50% - var(--size));
    border: var(--size) solid transparent;
    border-left: var(--size) solid var(--gray-dark);
  }

  a[aria-current="page"] {
    background-color: red;
    text-decoration: underline;
  }

  nav a {
    background-color: red;
    padding: 0 0.5rem;

    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s linear;
  }

  a:hover {
    color: var(--gray-dark);
  }
</style>
